---
import BaseLayout from "../layouts/BaseLayout.astro";
import NoSeoHead from "../components/NoSeoHead.astro";
---

<BaseLayout>
  <NoSeoHead title="Articles" description="Learn a little more..." />
  <main class="h-screen min-h-[512px] p-12 relative overflow-hidden">
    <div class="flex flex-col-reverse lg:flex-row h-full w-full border-4">
      <div class="flex flex-col animate-fade-in p-8 justify-end">
        <div class="flex flex-col space-y-2">
          <a
            href="/"
            class="text-2xl text-indigo-400 cursor-pointer hover:bg-teal-400 hover:text-white align-middle"
            >Home</a
          >
          <a
            href="/profile"
            class="text-2xl text-indigo-400 cursor-pointer hover:bg-teal-400 hover:text-white align-middle"
            >Profile</a
          >
          <a
            href="/articles"
            class="text-2xl text-indigo-400 cursor-pointer hover:bg-teal-400 hover:text-white align-middle"
            >Articles</a
          >
          <a
            href="/contact"
            class="text-2xl text-indigo-400 cursor-pointer hover:bg-teal-400 hover:text-white"
            >Contact</a
          >
          <span class="text-slate-600 text-xs select-none"
            >© Robert Shalders, 2025</span
          >
        </div>
      </div>
      <div
        class="flex flex-col gap-y-8 justify-center items-center w-full p-4 lg:p-0 mb-16 lg:m-9"
      >
        <div class="flex flex-col justify-center items-center gap-y-4">
          Work In Progress
        </div>
      </div>
    </div>
    <div class="absolute animated-background -z-10 animate-shift inset-[-100%]">
    </div>
  </main>
</BaseLayout>
