---
import BaseLayout from "../layouts/BaseLayout.astro";
import NoSeoHead from "../components/NoSeoHead.astro";
---

<BaseLayout>
  <NoSeoHead title="Contact" description="Learn a little more..." />
  <main class="flex h-svh justify-center items-center">
    <span class="2xl">Work in progress</span>
  </main>
</BaseLayout>
