---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="bg-black text-white font-trivial">
  <script is:inline>
    document.documentElement.classList.add("js");
  </script>
  <slot name="head" />
  <body>
    <slot />
  </body>
</html>
